body {
    font-family: "Arial", sans-serif; /* Cambia el tipo de fuente para toda la página */
    background-color: #f6f9f9;
}
#menu {
    width: 200px;
    background-color: #e0e0e0; /* Cambia el color a un gris claro o celeste claro */
    color: #333; /* Cambia el color del texto */
    float: left;
    font-family: "Arial", sans-serif;
    border-right: 2px solid #ccc; /* Añade un borde a la derecha del menú */
    border-radius: 15px
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ccc; /* Añade un borde en la parte inferior de cada elemento del menú */
}

#menu ul li a {
    text-decoration: none;
    color: #333; /* Cambia el color del texto del enlace */
    display: block;
}

#menu ul li:hover {
    background-color: #ccc; /* Cambia el color al pasar el mouse sobre el elemento del menú */
}

#menu ul li.selected {
    background-color: #ccc; /* Cambia el color del elemento seleccionado */
}

#contenido {
    margin-left: 220px;
    padding: 20px;
}
#menu ul li.selected a {
    font-weight: bold; /* Aplica negrita al texto del menú seleccionado */
}
#title {
    background-color: #e0e0e0; /* Fondo de color claro que combina con el texto */
    color: #1e1e1e; /* Color del texto */
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

#title h1 {
    font-size: 36px;
    margin: 0;
}
.temperatura-sensor {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px auto; /* Centrar horizontalmente con margen automático */
    border-radius: 15px;
}

.estado-aire {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente en el contenedor */
}

.aire {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

.encendido {
    background-color: green;
}

.apagado {
    background-color: red;
}

.temperatura-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.aires-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.etiqueta-aire {
    font-weight: bold;
    margin-right: 10px;
}